body {
    margin: 0;
    background: url(images/table.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;


    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.btnNew {
    width: 10rem;
    height: 2rem;
    text-decoration: none;
    border: none;
    background-color: yellow;
}

.btnDraw {
    height: 2.35rem;
    background-color: yellow;
    text-align: center;
    border: none;
    font-size: 1.5rem;
  }

  .btnNew, .btnDraw {
    font-weight: bold;
  }

.cardsDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardOne {
    margin-bottom: 50px;
}


.cardOne, .cardTwo{
    border: 1px solid black;
    height: 15rem;
    width: calc(15rem * 5 / 7);
    border-radius: 5px;
}

img{
    width: 100%;
    height: 100%;
}

h2 {
    color: white;
    margin: 0 auto;
    font-size: 3.45rem;
    text-align: center;
}

.top {
    display: flex;
}

.topText {
    display: flex;
    margin: 0;
    color: white;
    font-size: 1.8rem;
    padding-left: 0.75rem;
}

.score {
    color: white;
    font-size: 1.95rem;
}

.pc {
    padding-bottom: 10px;
}

.pl {
    padding-top: 10px;
}